.card {
  text-align: start;
}

.image {
  width: 100%;
  height: 300px;
  transform: scale(1.01);
  image-rendering: crisp-edges;
  object-fit: cover;
  image-rendering: -webkit-optimize-contrast;
}

.title {
  font-size: 1.2rem;
  font-weight: normal;
  margin-top: 5px;
}

.price {
  color: #000000;
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 500;
}
.description {
  margin-top: 5px;
  font-size: 0.9rem;
  color: #666;
}
.sale {
  color: rgb(168, 100, 4);
  font-weight: bold;
  margin-top: 5px;
}
